body {
	  border: 3px solid white;
  background-color: #463F3A;
  margin: 0;
  font-family: Arial, sans-serif;
}

.contenedor-imagen {
  text-align: right; /* Alinea la imagen a la derecha */
}

.contenedor-imagen img {
  height: 200px; /* Ajusta la altura de la imagen */
}



h1 {
  color: #F4F3EE;
  text-align: center;
  font-family: Arial;
}

header {
 border: 1px solid white;
 background-color: #463F3A;
 padding: 20px 10px;
}


#favorito {
  color: white;
}

nav {
 overflow: hidden;
 background-color: #8A817C;
 padding: 10px 5px;
}


.destacado {
  font-weight: bold;
  color: white;
  text-align: left;
}


.agrupar
{
border:1px;
margin: left;
width:400px;
}

.contenedor {
  display: flex;
  justify-content: space-between; /* Alinea los elementos a los extremos */
  margin: 40px;
}

section {
  border: 1px;
  width: 20%; /* Ancho ajustado para que ocupe menos espacio y deje espacio para el mapa */
  padding-left: 20px;
  background: #E0AFA0;
}

aside {
  width: 20%; /* Ancho ajustado para que ocupe menos espacio */
  padding: 20px;
  border: 1px; /* Agrega un borde para visibilidad */
  background: #E0AFA0;
}


footer {
  border: 1px solid white;
 overflow: hidden;
 background-color: #8A817C;
padding: 10px;
 text-align: center;
 clear:both;
}


nav a {
 border: 1px solid white;
 float: left;
 color: white;
 text-align: center;
 padding: 12px;
 text-decoration: underline;
 font-size: 18px;
 line-height: 25px;
 border-radius: 4px;
}

nav a.active {
 background-color: #E0AFA0;
 border:1px solid white;
 color: white;
}